---
---

@import "{{ site.theme }}";

html { 
  @media screen and (max-width: 42em){.btn{display:block;width:100%;padding:0.75rem;font-size:0.9rem}.btn+.btn{margin-top:1rem;margin-left:0}}.page-header{color:#fff;text-align:center;background-color:#159957;background-image:url("https://raw.githubusercontent.com/javierramirezzayas/Logically/master/image_examples/circuitsBackground.jpg") }
}
