---
---

@import "{{ site.theme }}";

.page-header{
  color:#fff;
  text-align:center;
  background-color:#159957;
  background-image:url("https://raw.githubusercontent.com/javierramirezzayas/Logically/master/image_examples/circuitsBackground1.jpg");
}
