---
---

@import "{{ site.theme }}";

html { 
  background: url("https://raw.githubusercontent.com/javierramirezzayas/Logically/master/image_examples/circuitsBackground.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
